* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: aliceblue;
    background-image: linear-gradient(rgb(112, 103, 103),rgb(111, 33, 33));
}
header {
    color: white;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgb(112, 103, 103),rgb(111, 33, 33));
    padding: 10px;
}
header h1 {
    font-style: oblique;
    font-size: 60px;
    text-align: left;
    text-shadow: 2px 2px black;
}
header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    color: white;
    text-align: right;
    display: inline-block;
    margin-left: 5px;
}
.pic {
    height: 400px;
    width: 40%;
    background-image: url("./portfolio-pic.jpeg");
    background-size: cover;
    border: 5px solid rgb(75, 27, 27);
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.AboutMe {
    display: grid;
    height: 300px;

}
h1 {
    width: 20%;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: white;
}

p {
    margin-right: 15px;
    padding: 20px;
    clear: both;
    float: right;
    font-size: 20px;
    color:black;
}

/* Float four columns side by side */
.column {
    /* float: left; */
    width: 50%;
    padding: 10px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}

  /* Style the counter cards */
  h2 {
    color: white;
    font: 40px;
  }
/* creating look of card- background black, text white */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: #161515;
  }

  /* making title of project bigger than links text */
.title {
    font-size: 20px;
}

/* aligning text on bottom vertically and setting text white */
footer {
    display: inline-block;
    width: 100%;
    color: white;
}

footer h1 {
    width: 20%;
    margin-left: 20px;
    display: inline-block;  
    font-size: 20px;
}

footer ul {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    width: 75%;
    display: inline-block;
}

footer ul li {
    display: inline-block;
    margin: 25px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}